body {
    background-color: #1a1414; /* dark black */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button#start {
    background-color: #8d282c;
    border: none;
    color: white;
    font-size: 4rem;
    padding: 1.5rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
}

.debug {
    position: absolute;
    top: 4px;
    left: 4px;
    background: #0005;
}

.debug__value {
    color: white;
    font-size: 2rem;
    font-family: monospace;
}